<div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-6xl mx-auto">
  <h2 class="text-white text-3xl mb-6 text-center">Cadastro de Veículo</h2>
  
  <!-- Campo para Buscar Cliente -->
  <div class="mb-4">
      <label for="clienteNome" class="block text-white mb-1">Buscar Cliente por Nome</label>
      <input id="clienteNome" name="clienteNome" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="clienteNome">
      <button (click)="GetClientesbynome()" class="mt-2 w-full bg-blue-600 text-white p-3 rounded">Buscar Cliente</button>
  </div>
  
  <!-- Exibição do Cliente Selecionado -->
  <div *ngIf="cliente.length > 0" class="mb-4">
      <label class="block text-white mb-1">Cliente Selecionado:</label>
      <ul>
          <li *ngFor="let c of cliente" (click)="selectCliente(c)" class="cursor-pointer p-2 bg-gray-700 rounded mb-2 text-white">
              {{c.nome}} - CPF: {{c.cpf}}
          </li>
      </ul>
  </div>
  
  <!-- Formulário de Cadastro de Veículo -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      
      <!-- Campo Carro -->
      <div class="mb-4 col-span-1">
          <label for="carro" class="block text-white mb-1">Carro</label>
          <input id="carro" name="carro" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.carro" required>
      </div>

      <!-- Campo Placa -->
      <div class="mb-4 col-span-1">
          <label for="placa" class="block text-white mb-1">Placa</label>
          <input id="placa" name="placa" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.placa " required (ngModelChange)="veiculo.placa = veiculo.placa?.toUpperCase()" mask="AAA-AAAA">
      </div>

      <!-- Campo Espécie -->
      <div class="mb-4 col-span-1">
          <label for="especie" class="block text-white mb-1">Espécie</label>
          <input id="especie" name="especie" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.especie" required>
      </div>

      <!-- Campo Combustível -->
      <div class="mb-4 col-span-1">
          <label for="combustivel" class="block text-white mb-1">Combustível</label>
          <input id="combustivel" name="combustivel" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.combustivel" required>
      </div>

      <!-- Campo Potência -->
      <div class="mb-4 col-span-1">
          <label for="potencia" class="block text-white mb-1">Potência</label>
          <input id="potencia" name="potencia" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.potencia" required>
      </div>

      <!-- Campo Ano de Fabricação -->
      <div class="mb-4 col-span-1">
          <label for="anoFab" class="block text-white mb-1">Ano de Fabricação</label>
          <input id="anoFab" name="anoFab" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.anoFab" required>
      </div>

      <!-- Campo Capacidade -->
      <div class="mb-4 col-span-1">
          <label for="capacidade" class="block text-white mb-1">Capacidade</label>
          <input id="capacidade" name="capacidade" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.capacidade" required>
      </div>

      <!-- Campo Ano do Modelo -->
      <div class="mb-4 col-span-1">
          <label for="anoModelo" class="block text-white mb-1">Ano do Modelo</label>
          <input id="anoModelo" name="anoModelo" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.anoModelo" required>
      </div>

      <!-- Campo Chassi -->
      <div class="mb-4 col-span-1">
          <label for="chassi" class="block text-white mb-1">Chassi</label>
          <input id="chassi" name="chassi" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.chassi" required>
      </div>

      <!-- Campo Cor -->
      <div class="mb-4 col-span-1">
          <label for="cor" class="block text-white mb-1">Cor</label>
          <input id="cor" name="cor" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.cor" required>
      </div>

      <!-- Campo Observação -->
      <div class="mb-4 col-span-1 md:col-span-2 lg:col-span-3">
          <label for="observacao" class="block text-white mb-1">Observação</label>
          <input id="observacao" name="observacao" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.observacao">
      </div>

      <!-- Campo KM Atual -->
      <div class="mb-4 col-span-1">
          <label for="kmAtual" class="block text-white mb-1">KM Atual</label>
          <input id="kmAtual" name="kmAtual" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.kmAtual" required>
      </div>

    
      <!-- Campo Garantia -->
      <div class="mb-4 col-span-1">
          <label for="garantia" class="block text-white mb-1">Garantia</label>
          <input id="garantia" name="garantia" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.garantia">
      </div>

      <!-- Campo Renavam -->
      <div class="mb-4 col-span-1">
          <label for="renavam" class="block text-white mb-1">Renavam</label>
          <input id="renavam" name="renavam" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="veiculo.renavam" required>
      </div>
  
      <!-- Botão de Submit -->
      <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded col-span-1 md:col-span-2 lg:col-span-3 mt-4">Cadastrar Veículo</button>
  </form>

  <div *ngIf="erroMessage" class="alert alert-danger" style="font-size: 1.2em; padding: 20px; border-radius: 5px; margin-top: 15px; border: 2px solid red; background-color: #f8d7da; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; color: black;">
    {{ erroMessage }}
  </div>


<!-- Mensagem de Sucesso -->
<div *ngIf="showSuccessMessage" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
  <div class="bg-green-600 text-white p-6 rounded-lg shadow-lg max-w-md mx-auto text-center relative">
    <strong class="block text-2xl mb-4">Veículo cadastrado com sucesso!</strong>
    <button (click)="showSuccessMessage = false" class="absolute top-2 right-2 text-white text-xl">&times;</button>
  </div>
</div>
</div>
