<div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-6xl mx-auto">
    <h2 class="text-white text-3xl mb-6 text-center">Cadastrar Montagem</h2>
  
    <!-- Campo para Buscar Veículo -->
    <div class="mb-4">
      <label for="placaveiculo" class="block text-white mb-1">Buscar Veículo por Placa</label>
      <input id="placaveiculo" name="placaveiculo" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="placaveiculo">
      <button (click)="GetVeiculoByPlaca()" class="mt-2 w-full bg-blue-600 text-white p-3 rounded">Buscar Veículo</button>
    </div>
  
    <!-- Exibição do Veículo Selecionado -->
    <div *ngIf="veiculo" class="mb-4 p-4 bg-gray-700 rounded-lg">
      <label class="block text-white mb-1">Veículo Encontrado:</label>
      <p><span class="font-medium">Placa:</span> {{veiculo.placa}}</p>
      <p><span class="font-medium">ID:</span> {{veiculo.id}}</p>
      <p><span class="font-medium">Chassi:</span> {{veiculo.chassi}}</p>
    </div>
  
    <!-- Formulário de Cadastro de Montagem -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Campo Data -->
      <div class="mb-4 col-span-1">
        <label for="data" class="block text-white mb-1">Data</label>
        <input id="data" name="data" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.data" required>
      </div>
  
      <!-- Campo Geração Instaladores -->
      <div class="mb-4 col-span-1">
        <label for="geracaoInstaladores" class="block text-white mb-1">Geração Instaladores</label>
        <input id="geracaoInstaladores" name="geracaoInstaladores" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.geracaoInstaladores">
      </div>
  
      <!-- Campo Redutor Valor -->
      <div class="mb-4 col-span-1">
        <label for="redutorValor" class="block text-white mb-1">Redutor Valor</label>
        <input id="redutorValor" name="redutorValor" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.redutorValor">
      </div>
  
      <!-- Campo Número Série -->
      <div class="mb-4 col-span-1">
        <label for="numeroSerie" class="block text-white mb-1">Número Série</label>
        <input id="numeroSerie" name="numeroSerie" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroSerie">
      </div>
  
      <!-- Campo Forma de Pagamento -->
      <div class="mb-4 col-span-1">
        <label for="formaPagamento" class="block text-white mb-1">Forma de Pagamento</label>
        <input id="formaPagamento" name="formaPagamento" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.formaPagamento">
      </div>
  
      <!-- Campo Marca Cilindro -->
      <div class="mb-4 col-span-1">
        <label for="marcaCilindro" class="block text-white mb-1">Marca Cilindro</label>
        <input id="marcaCilindro" name="marcaCilindro" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.marcaCilindro">
      </div>
  
      <!-- Campo Número Cilindro -->
      <div class="mb-4 col-span-1">
        <label for="numeroCilindro" class="block text-white mb-1">Número Cilindro</label>
        <input id="numeroCilindro" name="numeroCilindro" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroCilindro">
      </div>
  
      <!-- Campo Quilo -->
      <div class="mb-4 col-span-1">
        <label for="quilo" class="block text-white mb-1">Quilo</label>
        <input id="quilo" name="quilo" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.quilo">
      </div>
  
      <!-- Campo Litro -->
      <div class="mb-4 col-span-1">
        <label for="litro" class="block text-white mb-1">Litro</label>
        <input id="litro" name="litro" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.litro">
      </div>
  
      <!-- Campo Ano de Fabricação -->
      <div class="mb-4 col-span-1">
        <label for="anoFab" class="block text-white mb-1">Ano de Fabricação</label>
        <input id="anoFab" name="anoFab" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.anoFab">
      </div>
  
      <!-- Campo Documentação Ano -->
      <div class="mb-4 col-span-1">
        <label for="documentacaoAno" class="block text-white mb-1">Documentação Ano</label>
        <input id="documentacaoAno" name="documentacaoAno" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.documentacaoAno">
      </div>
  
      <!-- Campo Ano de Reteste -->
      <div class="mb-4 col-span-1">
        <label for="anoReteste" class="block text-white mb-1">Ano de Reteste</label>
        <input id="anoReteste" name="anoReteste" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.anoReteste">
      </div>
  
      <!-- Campo Requalificadora -->
      <div class="mb-4 col-span-1">
        <label for="requalificadora" class="block text-white mb-1">Requalificadora</label>
        <input id="requalificadora" name="requalificadora" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.requalificadora">
      </div>
  
      <!-- Campo Número NF Equipamento -->
      <div class="mb-4 col-span-1">
        <label for="numeroNFEquipamento" class="block text-white mb-1">Número NF Equipamento</label>
        <input id="numeroNFEquipamento" name="numeroNFEquipamento" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroNFEquipamento">
      </div>
  
      <!-- Campo Número Ordem Requalificação -->
      <div class="mb-4 col-span-1">
        <label for="numeroOrdemRequalificacao" class="block text-white mb-1">Número Ordem Requalificação</label>
        <input id="numeroOrdemRequalificacao" name="numeroOrdemRequalificacao" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroOrdemRequalificacao">
      </div>
  
      <!-- Campo Número Laudo Montagem -->
      <div class="mb-4 col-span-1">
        <label for="numeroLaudoMontagem" class="block text-white mb-1">Número Laudo Montagem</label>
        <input id="numeroLaudoMontagem" name="numeroLaudoMontagem" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroLaudoMontagem">
      </div>
  
      <!-- Campo Marca Válvula -->
      <div class="mb-4 col-span-1">
        <label for="marcaValvula" class="block text-white mb-1">Marca Válvula</label>
        <input id="marcaValvula" name="marcaValvula" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.marcaValvula">
      </div>
  
      <!-- Campo Número NF Serviço Montagem -->
      <div class="mb-4 col-span-1">
        <label for="numeroNFServicoMontagem" class="block text-white mb-1">Número NF Serviço Montagem</label>
        <input id="numeroNFServicoMontagem" name="numeroNFServicoMontagem" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroNFServicoMontagem">
      </div>
  
      <!-- Campo Número Válvula -->
      <div class="mb-4 col-span-1">
        <label for="numeroValvula" class="block text-white mb-1">Número Válvula</label>
        <input id="numeroValvula" name="numeroValvula" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroValvula">
      </div>
  
      <!-- Campo Selo -->
      <div class="mb-4 col-span-1">
        <label for="selo" class="block text-white mb-1">Selo</label>
        <input id="selo" name="selo" type="text" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.selo">
      </div>
  
      <!-- Campo Orçamento -->
      <div class="mb-4 col-span-1">
        <label for="orcamento" class="block text-white mb-1">Orçamento</label>
        <input id="orcamento" name="orcamento" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.orcamento">
      </div>
  
      <!-- Campo Quantidade Peça Serviço -->
      <div class="mb-4 col-span-1">
        <label for="quantPecaServico" class="block text-white mb-1">Quantidade Peça Serviço</label>
        <input id="quantPecaServico" name="quantPecaServico" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.quantPecaServico">
      </div>
  
      <!-- Campo Valor Unitário -->
      <div class="mb-4 col-span-1">
        <label for="valorUnitario" class="block text-white mb-1">Valor Unitário</label>
        <input id="valorUnitario" name="valorUnitario" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.valorUnitario">
      </div>
  
      <!-- Campo Valor Total -->
      <div class="mb-4 col-span-1">
        <label for="valorTotal" class="block text-white mb-1">Valor Total</label>
        <input id="valorTotal" name="valorTotal" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.valorTotal">
      </div>
  
      <!-- Campo Kit da Loja -->
      <div class="mb-4 col-span-1">
        <label for="kitDaLoja" class="block text-white mb-1">Kit da Loja</label>
        <input id="kitDaLoja" name="kitDaLoja" type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" [(ngModel)]="montagem.kitDaLoja">
      </div>
  
      <!-- Campo Veículo ID -->
      <div class="mb-4 col-span-1">
        <label for="veiculoId" class="block text-white mb-1">Veículo ID</label>
        <input id="veiculoId" name="veiculoId" type="number" class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.veiculoId">
      </div>
  
      <!-- Botão de Submissão -->
      <div class="col-span-1">
        <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded">Salvar</button>
      </div>
    </form>
  </div>
   <!-- Mensagem de Sucesso -->
   <div *ngIf="showSuccessMessage" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
    <div class="bg-green-600 text-white p-6 rounded-lg shadow-lg max-w-md mx-auto text-center relative">
      <strong class="block text-2xl mb-4">Montagem cadastrada com sucesso!</strong>
      <button (click)="showSuccessMessage = false" class="absolute top-2 right-2 text-white text-xl">&times;</button>
    </div>
  </div>
