<div id="search-container" class="p-6 bg-gray-800 text-white rounded-lg shadow-lg">
  <!-- Título -->
  <h2 class="text-xl font-bold mb-4 text-center">MONTAGEM</h2>
  <h2 class="text-xl font-bold mb-4 text-center">Buscar Veículo</h2>

  <!-- Input e botões para buscar veículo -->
  <div class="mb-6 flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0 justify-center">
    <!-- Busca por Placa -->
    <div id="search-by-plate" class="flex items-center w-full md:w-auto space-x-2">
      <input 
        [(ngModel)]="veiculoPlaca" 
        placeholder="Digite a placa do veículo" 
        class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-64 focus:outline-none focus:ring-2 focus:ring-blue-500 uppercase "  mask="AAA-AAAA"
         >
      <button 
        (click)="GetveiculoByPlaca()" 
        class="bg-blue-600 text-white p-2 h-10 rounded-md hover:bg-blue-700 transition duration-200"
      >
        Buscar por Placa
      </button>
    </div>

    <!-- Busca por Chassi -->
    <div id="search-by-chassi" class="flex items-center w-full md:w-auto space-x-2">
      <input 
        [(ngModel)]="veiculoChassi" 
        placeholder="Digite o Chassi" 
        class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-64 focus:outline-none focus:ring-2 focus:ring-green-500 uppercase"
      >
      <button 
        (click)="GetveiculoByChassi()" 
        class="bg-green-600 text-white p-2 h-10 rounded-md hover:bg-green-700 transition duration-200 "
      >
        Buscar por Chassi
      </button>
    </div>
  </div>

  <!-- Botão de voltar -->
  <div class="flex justify-center">
    <button
      routerLink="/"
      class="w-full md:w-auto bg-gray-600 hover:bg-gray-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-300"
    >
      Voltar para Início
    </button>
  </div>
</div>

  
  <!-- Cabeçalho -->
  <div class="cabecalho bg-gray-900 p-4 rounded-md shadow-md mt-4 flex items-center justify-between">
    <!-- Logo -->
    <img src="assets/Logo.jpg" alt="Logo" class="w-52 md:w-72 lg:w-96 h-auto">
    
    <!-- Informações -->
    <div class="text-right">
      <p class="text-sm text-gray-400">
        CNPJ: 35.592.038/0001-85<br>
        GNV AUTO CENTER<br>
        AV CACILDA BECKER Nº 285 - JOÃO XXIII<br>
        (85) 3233-2270 - (85) 98716-0640
      </p>
    </div>
  </div>
      
  <div *ngIf="Veiculo && Veiculo.cliente" class="bg-white p-6 rounded-lg shadow-lg mt-4 border border-gray-300">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Cliente</h2>
    <div class="flex flex-col space-y-4">
      <!-- Primeira Linha -->
      <div class="flex flex-wrap border-b border-gray-200 pb-2">
        <div class="w-full sm:w-1/2 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Nome:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.cliente.nome}}</span>
        </div>
        <div class="w-full sm:w-1/2">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">CPF:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.cliente.cpf}}</span>
        </div>
      </div>
  
      <!-- Segunda Linha -->
      <div class="flex border-b border-gray-200 pb-2">
        <div class="w-full">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Telefone:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.cliente.telefone}}</span>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="Veiculo" class="bg-white p-6 rounded-lg shadow-lg mt-4 border border-gray-300">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Veículo</h2>
    <div class="flex flex-col space-y-4">
      <!-- Primeira Linha -->
      <div class="flex flex-wrap border-b border-gray-200 pb-2">
        <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Carro:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.carro}}</span>
        </div>
        <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Placa:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.placa}}</span>
        </div>
        <div class="w-full sm:w-1/3">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Cor:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.cor}}</span>
        </div>
      </div>
  
      <!-- Segunda Linha -->
      <div class="flex flex-wrap border-b border-gray-200 pb-2">
        <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Espécie:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.especie}}</span>
        </div>
        <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Combustível:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.combustivel}}</span>
        </div>
        <div class="w-full sm:w-1/3">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Capacidade:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.capacidade}}</span>
        </div>
      </div>
  
      <!-- Terceira Linha -->
      <div class="flex flex-wrap border-b border-gray-200 pb-2">
        <div class="w-full sm:w-1/2 mb-2 sm:mb-0">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Renavam:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.renavam}}</span>
        </div>
        <div class="w-full sm:w-1/2">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Chassi:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.chassi}}</span>
        </div>
      </div>
  
      <!-- Última Linha (Livre para Observação) -->
      <div class="flex flex-wrap border-b border-gray-200 pb-2">
        <div class="w-full">
          <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Observação:</span>
          <span class="ml-2 text-gray-800">{{Veiculo.observacao}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Montagem -->
  <div *ngIf="Veiculo && Veiculo.montagens" class="bg-white p-6 rounded-lg shadow-lg mt-4 border border-gray-300">
    <h3 class="text-2xl font-bold text-gray-800 mb-4">Montagem</h3>
    <div class="space-y-4">
      <div 
        *ngFor="let montagem of Veiculo.montagens | paginate: { itemsPerPage: 1, currentPage: servicoPage }" 
        class="bg-gray-100 border border-gray-300 rounded-lg p-4 shadow-md"
      >
        <div class="flex flex-col space-y-4">
          <!-- Linha 1 -->
          <div class="flex flex-wrap border-b border-gray-200 pb-2">
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Geração:</span>
              <span class="ml-2 text-gray-800">{{montagem.geracaoInstaladores}}</span>
            </div>
            <div class="w-full sm:w-1/3">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Kit Loja</span>
              <span class="ml-2 text-gray-800">{{ montagem.kitDaLoja ? 'Sim' : 'Não' }}</span>
          </div>
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Marca Redutor:</span>
              <span class="ml-2 text-gray-800">{{montagem.redutorMarca}}</span>
            </div>
          </div>
          <!-- Linha 2 -->
          <div class="flex flex-wrap border-b border-gray-200 pb-2">
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° de série:</span>
              <span class="ml-2 text-gray-800">{{montagem.numeroSerie}}</span>
            </div>
            <div class="w-full sm:w-1/3">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Pagamento:</span>
              <span class="ml-2 text-gray-800">{{montagem.formaPagamento}}</span>
            </div>
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Marca cilindro:</span>
              <span class="ml-2 text-gray-800">{{montagem.marcaCilindro}}</span>
            </div>
          </div>
           <!-- Linha 3 -->
           <div class="flex flex-wrap border-b border-gray-200 pb-2">
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° cilindro:</span>
              <span class="ml-2 text-gray-800">{{montagem.numeroCilindro}}</span>
            </div>
            <div class="w-full sm:w-1/3">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Quilo:</span>
              <span class="ml-2 text-gray-800">{{montagem.quilo}}</span>
            </div>
            <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
              <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Litro:</span>
              <span class="ml-2 text-gray-800">{{montagem.litro}}</span>
            </div>
          </div>
            <!-- Linha 4 -->
            <div class="flex flex-wrap border-b border-gray-200 pb-2">
              <div class="w-full sm:w-1/3">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">fabricação:</span>
                <span class="ml-2 text-gray-800">{{montagem.anoFab}}</span>
              </div>
              <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Ano reteste:</span>
                <span class="ml-2 text-gray-800">{{montagem.anoReteste}}</span>
              </div>
              <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">requalificadora:</span>
                <span class="ml-2 text-gray-800">{{montagem.requalificadora}}</span>
              </div>
            </div>
           
            <!-- Linha 6 -->
            <div class="flex flex-wrap border-b border-gray-200 pb-2">
              <div class="w-full sm:w-1/3">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° NF de venda:</span>
                <span class="ml-2 text-gray-800">{{montagem.numeroNFEquipamento}}</span>
              </div>
              <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° Ord requalificação:</span>
                <span class="ml-2 text-gray-800">{{montagem.numeroOrdemRequalificacao}}</span>
              </div>
              <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° Laudo Montagem:</span>
                <span class="ml-2 text-gray-800">{{montagem.numeroLaudoMontagem}}</span>
              </div>
            </div>
              <!-- Linha 7 -->
              <div class="flex flex-wrap border-b border-gray-200 pb-2">
                <div class="w-full sm:w-1/3">
                  <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Marca válvula:</span>
                  <span class="ml-2 text-gray-800">{{montagem.marcaValvula}}</span>
                </div>
                <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                  <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° NF Serviço Montagem:</span>
                  <span class="ml-2 text-gray-800">{{montagem.numeroNFServicoMontagem}}</span>
                </div>
                <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                  <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">N° Valvula:</span>
                  <span class="ml-2 text-gray-800">{{montagem.numeroValvula}}</span>
                </div>
              </div>
                   <!-- Linha 8 -->
                   <div class="flex flex-wrap border-b border-gray-200 pb-2">
                    <div class="w-full sm:w-1/3">
                      <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Selo:</span>
                      <span class="ml-2 text-gray-800">{{montagem.selo}}</span>
                    </div>
                    <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                      <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Instaladores:</span>
                      <span class="ml-2 text-gray-800">{{montagem.instaladores}}</span>
                    </div>
                    <div class="w-full sm:w-1/3 mb-2 sm:mb-0">
                      <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">total:</span>
                      <span class="ml-2 text-gray-800">{{montagem.valorTotal}}</span>
                    </div>
                  </div>
          
         
  
          <!-- Observação em Linha Inteira -->
          <div class="flex border-b border-gray-200 pb-2">
            <span class="font-bold text-gray-600 bg-gray-100 p-2 rounded">Observação:</span>
            <span class="ml-2 text-gray-800 w-full">{{montagem.litro}}</span>
          </div>
          
  
          <!-- Exibe orçamentos relacionados ao serviço -->
          <div *ngIf="montagem.orcamentos" class="mt-4">
            <h5 class="text-lg font-semibold text-gray-800 mb-2 text-center">ORÇAMENTOS</h5>
            
  
            <table class="w-full border-collapse border border-gray-300">
              <thead class="bg-gray-800 text-white">
                <tr>
                  <th class="p-3 text-left">Nome do Serviço</th>
                  <th class="p-3 text-left">Quantidade</th>
                  <th class="p-3 text-left">Valor Parcial</th>
                  <th class="p-3 text-left">Valor Total</th>
                  
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let orcamento of montagem.orcamentos" class="border-b border-gray-300">
                  <td class="p-3 text-gray-900">{{orcamento.nomeServico}}</td>
                  <td class="p-3 text-gray-900">{{orcamento.quantidade}}</td>
                  <td class="p-3 text-gray-900">{{orcamento.valorParcial}}</td>
                  <td class="p-3 text-gray-900">{{orcamento.valorTotal}}</td>
                </tr>
              </tbody>
            </table>
     
  
          </div>
        </div>
      </div>
    </div>
  
  
      <!-- Paginação -->
       <div id="OcultarPaginacao">
      <pagination-controls 
        (pageChange)="servicoPage = $event" 
        class="mt-4 flex justify-center items-center space-x-2 p-2 bg-gray-800 rounded-lg shadow-lg"
      >
        <button 
          class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-200"
        >
          Previous
        </button>
        <span class="text-gray-300">Page {{servicoPage}}</span>
        <button 
          class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-200"
        >
          Next
        </button>
      </pagination-controls>
    </div>
  </div>
  