<aside class="w-64 bg-gray-800 text-white p-4 border-r border-gray-700 h-full">
  <h2 class="text-xl font-bold mb-6">Menu</h2>
  <nav>
    <ul>
      <li class="mb-2"><a routerLink="/cliente-post" class="block p-2 rounded hover:bg-gray-700">Clientes</a></li>
      <li class="mb-2"><a routerLink="/veiculo-post" class="block p-2 rounded hover:bg-gray-700">Veículos</a></li>
      <li class="mb-2"><a routerLink="/servicos" class="block p-2 rounded hover:bg-gray-700">Serviços</a></li>
    </ul>
  </nav>
</aside>
