/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Cor do polegar da barra de rolagem */
    border-radius: 6px; /* Arredondar os cantos do polegar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #616161; /* Cor do polegar da barra de rolagem ao passar o mouse */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2d2d2d; /* Cor do trilho da barra de rolagem */
    border-radius: 6px; /* Arredondar os cantos do trilho */
  }
  