<div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-6xl mx-auto">
  <h2 class="text-white text-3xl mb-6 text-center">Cadastrar Montagem</h2>

  <!-- Campo para Buscar Veículo -->
  <div class="mb-4">
    <label for="placaveiculo" class="block text-white mb-1">Buscar Veículo por Placa</label>
    <input id="placaveiculo" name="placaveiculo" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
      [(ngModel)]="placaveiculo">
    <button (click)="GetVeiculoByPlaca()" class="mt-2 w-full bg-blue-600 text-white p-3 rounded">Buscar Veículo</button>
  </div>

  <!-- Exibição do Veículo Selecionado -->
  <div *ngIf="veiculo" class="mb-4 p-4 bg-gray-700 rounded-lg">
    <label class="block text-white mb-1">Veículo Encontrado:</label>
    <p><span class="font-medium">Placa:</span> {{veiculo.placa}}</p>
    <p><span class="font-medium">ID:</span> {{veiculo.id}}</p>
    <p><span class="font-medium">Chassi:</span> {{veiculo.chassi}}</p>
  </div>

  <!-- Formulário de Cadastro de Montagem -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

      <!-- Campo Geração Instaladores -->
      <div>
        <label for="geracaoInstaladores" class="block text-white mb-1">Geração</label>
        <input id="geracaoInstaladores" name="geracaoInstaladores" type="text"
          class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.geracaoInstaladores" mask="">
      </div>

      <!-- Campo Kit da Loja -->
      <div>
        <label for="kitDaLoja" class="block text-white mb-1">Kit da Loja</label>
        <input id="kitDaLoja" name="kitDaLoja" type="checkbox" class="form-checkbox h-5 w-5 text-blue-600"
          [(ngModel)]="montagem.kitDaLoja">
      </div>
      <!-- Campo Redutor Valor -->
      <div class="mb-4 col-span-1">
        <label for="redutorValor" class="block text-white mb-1">Redutor Marca</label>
        <input id="redutorValor" name="redutorValor" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.redutorMarca">
      </div>

      <!-- Campo Número Série -->
      <div class="mb-4 col-span-1">
        <label for="numeroSerie" class="block text-white mb-1">Número Série</label>
        <input id="numeroSerie" name="numeroSerie" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.numeroSerie">
      </div>

      <!-- Campo Forma de Pagamento -->
      <div>
        <label for="formaPag" class="block text-white mb-1">Forma de Pagamento</label>
        <select id="formaPag" name="formaPag" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.formaPagamento" required>
          <option value="PIX">PIX</option>
          <option value="Débito">Débito</option>
          <option value="Crédito">Crédito</option>
          <option value="Dinheiro">Dinheiro</option>
        </select>
      </div>

      <!-- Campo Marca Cilindro -->
      <div class="mb-4 col-span-1">
        <label for="marcaCilindro" class="block text-white mb-1">Marca Cilindro</label>
        <input id="marcaCilindro" name="marcaCilindro" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.marcaCilindro">
      </div>

      <!-- Campo Número Cilindro -->
      <div class="mb-4 col-span-1">
        <label for="numeroCilindro" class="block text-white mb-1">Número Cilindro</label>
        <input id="numeroCilindro" name="numeroCilindro" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.numeroCilindro">
      </div>

      <!-- Campo Quilo -->
      <div class="mb-4 col-span-1">
        <label for="quilo" class="block text-white mb-1">Quilo</label>
        <input id="quilo" name="quilo" type="number" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.quilo">
      </div>

      <!-- Campo Litro -->
      <div class="mb-4 col-span-1">
        <label for="litro" class="block text-white mb-1">Litro</label>
        <input id="litro" name="litro" type="number" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.litro">
      </div>

      <!-- Campo Ano de Fabricação -->
      <div class="mb-4 col-span-1">
        <label for="anoFab" class="block text-white mb-1">Ano de Fabricação</label>
        <input id="anoFab" name="anoFab" type="text" class="w-full p-3 rounded" [ngClass]="{ 
        'bg-gray-700 text-white': true, 
        'border-red-500': anoFab.invalid && (anoFab.dirty || anoFab.touched) 
      }" [(ngModel)]="montagem.anoFab" mask="00-00-0000" #anoFab="ngModel" required>
        <div *ngIf="anoFab.invalid && (anoFab.dirty || anoFab.touched)" class="text-red-500 text-sm mt-1">
          Preencha o campo no formato correto: 00-00-0000
        </div>
      </div>



      <div class="mb-4 col-span-1">
        <label for="anoReteste" class="block text-white mb-1">Ano de Reteste</label>
        <input id="anoReteste" name="anoReteste" type="text" class="w-full p-3 rounded" [ngClass]="{ 
        'bg-gray-700 text-white': true, 
        'border-red-500': anoReteste.invalid && (anoReteste.dirty || anoReteste.touched) 
      }" [(ngModel)]="montagem.anoReteste" mask="00-00-0000" #anoReteste="ngModel" required>
        <div *ngIf="anoReteste.invalid && (anoReteste.dirty || anoReteste.touched)" class="text-red-500 text-sm mt-1">
          Preencha o campo no formato correto: 00-00-0000
        </div>
      </div>
      <!-- Campo Requalificadora -->
      <div class="mb-4 col-span-1">
        <label for="requalificadora" class="block text-white mb-1">Requalificadora</label>
        <input id="requalificadora" name="requalificadora" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.requalificadora">
      </div>

      <!-- Campo Número NF Equipamento -->
      <div class="mb-4 col-span-1">
        <label for="numeroNFEquipamento" class="block text-white mb-1">Número NF Venda</label>
        <input id="numeroNFEquipamento" name="numeroNFEquipamento" type="text"
          class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroNFEquipamento">
      </div>

      <!-- Campo Número Ordem Requalificação -->
      <div class="mb-4 col-span-1">
        <label for="numeroOrdemRequalificacao" class="block text-white mb-1">Número Ordem Requalificação</label>
        <input id="numeroOrdemRequalificacao" name="numeroOrdemRequalificacao" type="text"
          class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroOrdemRequalificacao">
      </div>

      <!-- Campo Número Laudo Montagem -->
      <div class="mb-4 col-span-1">
        <label for="numeroLaudoMontagem" class="block text-white mb-1">Número Laudo Montagem</label>
        <input id="numeroLaudoMontagem" name="numeroLaudoMontagem" type="text"
          class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroLaudoMontagem">
      </div>

      <!-- Campo Marca Válvula -->
      <div class="mb-4 col-span-1">
        <label for="marcaValvula" class="block text-white mb-1">Marca Válvula</label>
        <input id="marcaValvula" name="marcaValvula" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.marcaValvula">
      </div>

      <!-- Campo Número NF Serviço Montagem -->
      <div class="mb-4 col-span-1">
        <label for="numeroNFServicoMontagem" class="block text-white mb-1">Número NF Serviço Montagem</label>
        <input id="numeroNFServicoMontagem" name="numeroNFServicoMontagem" type="text"
          class="w-full p-3 rounded bg-gray-700 text-white" [(ngModel)]="montagem.numeroNFServicoMontagem">
      </div>

      <!-- Campo Número Válvula -->
      <div class="mb-4 col-span-1">
        <label for="numeroValvula" class="block text-white mb-1">Número Válvula</label>
        <input id="numeroValvula" name="numeroValvula" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.numeroValvula">
      </div>

      <!-- Campo Selo -->
      <div class="mb-4 col-span-1">
        <label for="selo" class="block text-white mb-1">Selo</label>
        <input id="selo" name="selo" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.selo">
      </div>



      <!-- Campo Instaladores -->
      <div class="mb-4 col-span-1">
        <label for="instaladores" class="block text-white mb-1">Instaladores</label>
        <input id="instaladores" name="instaladores" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.instaladores">
      </div>

      <!-- Campo Data Alerta -->
      <div>
        <label for="dataalerta" class="block text-white mb-1">Data Alerta</label>
        <input id="dataalerta" name="dataalerta" type="date" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.dataalerta">
      </div>

      <!-- Campo Data Alerta -->
      <div>
        <label for="pago" class="block text-white mb-1">Pago</label>
        <input id="pago" name="pago" type="checkbox" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.pago">
      </div>

      <!-- Status -->
      <div>
        <label for="Status" class="block text-white mb-1">Status</label>
        <select id="Status" name="Status" class="w-full p-3 rounded bg-gray-700 text-white"
          [(ngModel)]="montagem.status">
          <option value="Em Andamento">Em Andamento</option>
          <option value="Finalizado">Finalizado</option>
        </select>
      </div>



      <!-- Campo Valor Total -->
      <!-- Exibição da Soma Total -->
      <div class="mt-6">
        <label for="Totalorcamento" class="block text-white mb-1">TOTAL</label>
        <input id="Totalorcamento" name="Totalorcamento" type="text" class="w-full p-3 rounded bg-gray-700 text-white"
          [value]="somaTotal" readonly>
      </div>




    </div>

    <!-- Inclusão do componente OrcamentoPostComponent -->
    <div class="bg-gray-700 p-6 rounded-lg shadow-lg mt-8">
      <h3 class="text-white text-2xl mb-4">Adicionar Orçamentos</h3>
      <app-orcamento-post (orcamentosChange)="receiveOrcamentos($event)"
        (somaTotalChange)="updateSomaTotal($event)"></app-orcamento-post>
    </div>

    <!-- Botão de Submit -->
    <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded mt-6">Salvar</button>
  </form>

  <!-- Mensagem de Sucesso -->
  <div *ngIf="showSuccessMessage" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
    <div class="bg-green-600 text-white p-6 rounded-lg shadow-lg max-w-md mx-auto text-center relative">
      <strong class="block text-2xl mb-4">Montagem cadastrada com sucesso!</strong>
      <button (click)="showSuccessMessage = false" class="absolute top-2 right-2 text-white text-xl">&times;</button>
    </div>
  </div>
</div>