<header class="bg-gray-800 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="flex items-center space-x-2 hover:text-gray-400">
      <i class="fas fa-home text-xl"></i> <!-- Ícone de casa -->
      <h1 class="text-2xl font-bold">AutoTrack</h1> <!-- Texto Dashboard -->
    </a>
    <nav>
      <ul class="flex space-x-4 items-center">
        <li><a href="/" class="hover:text-gray-400">Home</a></li>
        <li><a routerLink="/imprimir" class="hover:text-gray-400">Imprimir</a></li>
        <li><a href="#" class="hover:text-gray-400">Notificação</a></li>
        <li class="relative">

          <a class="hover:text-gray-400 flex items-center space-x-1">
            
            <span *ngIf="notificacaoServ"  routerLink="servico-notificacao" class="bg-red-500 text-white text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center animate-pulse">
              {{notificacaoServ}}
            </span>
            <span *ngIf="notificacaoMont" routerLink="montagem-notificacao" class="bg-yellow-500 text-black text-xs font-bold rounded-full h-6 w-6 flex items-center justify-center animate-pulse">
              {{notificacaoMont}}
            </span>
            
            
                    
          </a>
        </li>
        <li><a href="#" class="hover:text-gray-400">Sair</a></li>
      </ul>
    </nav>
  </div>
</header>
