<div class="p-6 bg-gray-900 min-h-screen flex flex-col items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full">
    <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col justify-between">
      <div>
        <h3 class="text-xl font-semibold mb-4 text-center">Cliente</h3>
        <p class="text-center mb-4">Gerencie seus clientes e visualize informações mais detalhadas</p>
      </div>
      <button (click)="toggleCliente()" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors duration-300 w-full">
        Ver Mais
      </button>
    </div>
    <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col justify-between">
      <div>
        <h3 class="text-xl font-semibold mb-4 text-center">Veículo</h3>
        <p class="text-center mb-4">Gerencie informações dos veículos</p>
      </div>
      <button (click)="toggleVeiculo()" class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 transition-colors duration-300 w-full">
        Ver Mais
      </button>
    </div>
    <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col justify-between">
      <div>
        <h3 class="text-xl font-semibold mb-4 text-center">Serviço</h3>
        <p class="text-center mb-4">Visualize e gerencie os serviços oferecidos</p>
      </div>
      <button class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition-colors duration-300 w-full">
        Ver Mais
      </button>
    </div>
    <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col justify-between">
      <div>
        <h3 class="text-xl font-semibold mb-4 text-center">Montagem</h3>
        <p class="text-center mb-4">Acompanhe a montagem e o progresso</p>
      </div>
      <button class="px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition-colors duration-300 w-full">
        Ver Mais
      </button>
    </div>
  </div>

  <!-- Condicionalmente exibe o componente de cliente -->
  <app-cliente *ngIf="showCliente" class="mt-6 w-full"></app-cliente>

  <!-- Condicionalmente exibe o componente de veículo -->
  <app-veiculo *ngIf="showVeiculo" class="mt-6 w-full"></app-veiculo>
</div>
