<div class="p-4 bg-gray-800 text-white">
  <!-- Container para Inputs, Botões e Botão Cadastrar -->
  <div class="mb-4 flex flex-wrap gap-2 items-center">
    <!-- Inputs e Botões de Pesquisa -->
    <div class="flex flex-wrap gap-2 w-full md:w-auto">
      <!-- Busca por CPF -->
      <div class="flex items-center space-x-2 w-full md:w-auto">
        <input 
          [(ngModel)]="CPForCNPJ" 
          placeholder="Digite o CPF do cliente" 
          class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-auto"
        >
        <button 
          (click)="GetClienteByCPForCNPJ()" 
          class="bg-blue-600 text-white p-2 h-10 rounded-md hover:bg-blue-700 whitespace-nowrap"
        >
          Buscar por CPF
        </button>
      </div>

      <!-- Busca por Telefone -->
      <div class="flex items-center space-x-2 w-full md:w-auto">
        <input 
          [(ngModel)]="Telefone" 
          placeholder="Digite o Telefone do cliente" 
          class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-auto"
        >
        <button 
          (click)="GetClienteByTelefone()" 
          class="bg-green-600 text-white p-2 h-10 rounded-md hover:bg-green-700 whitespace-nowrap"
        >
          Buscar por Telefone
        </button>
      </div>
      
      <!-- Busca por Nome -->
      <div class="flex items-center space-x-2 w-full md:w-auto">
        <input 
          [(ngModel)]="Nome" 
          placeholder="Digite o Nome do cliente" 
          class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-auto"
        >
        <button 
          (click)="GetClienteByNome()" 
          class="bg-red-600 text-white p-2 h-10 rounded-md hover:bg-red-700 whitespace-nowrap"
        >
          Buscar por Nome
        </button>
      </div>
    </div>

    <!-- Botão Cadastrar Novo Cliente -->
    <div class="ml-auto mt-4 md:mt-0">
      <a 
        href="/cliente-post" 
        class="inline-block px-4 py-2 text-lg font-medium text-gray-200 bg-gray-800 border border-gray-600 rounded-lg shadow-lg hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl"
      >
        Cadastrar Novo Cliente
      </a>
    </div>
  </div>

  <!-- Exibe detalhes do cliente apenas se houver dados -->
  <div *ngIf="Cliente && Cliente.nome" class="bg-gray-900 p-4 rounded-md shadow-md">
    <h2 class="text-xl font-semibold mb-2">Detalhes do Cliente</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div>
        <p><strong>Nome:</strong> {{Cliente.nome}}</p>
        <p><strong>CPF:</strong> {{Cliente.cpf}}</p>
        <p><strong>Inscrição Estadual:</strong> {{Cliente.insEstadual}}</p>
        <p><strong>Telefone:</strong> {{Cliente.telefone}}</p>
      </div>
    </div>
  </div>

  <!-- Lista de resultados de pesquisa -->
  <div *ngIf="searchResults.length" class="bg-gray-900 p-4 rounded-md shadow-md mt-4">
    <h3 class="text-lg font-semibold mb-2">Clientes Encontrados</h3>
    <ul class="space-y-2">
      <li *ngFor="let cliente of searchResults" class="bg-gray-800 p-4 rounded-md cursor-pointer hover:bg-gray-700" (click)="selectCliente(cliente)">
        <p><strong>Nome:</strong> {{cliente.nome}}</p>
        <p><strong>CPF:</strong> {{cliente.cpf}}</p>
      </li>
    </ul>
  </div>

  <!-- Tabela para veículos apenas se houver dados -->
  <div *ngIf="Cliente?.veiculos?.length" class="bg-gray-900 p-4 rounded-md shadow-md mt-4">
    <h3 class="text-lg font-semibold mb-2">VEICULOS</h3>
        <div *ngFor="let veiculo of Cliente.veiculos" class="bg-gray-800 p-4 rounded-md mb-4">
          <h3 class="text-1xl font-bold mb-3 text-green-500 ">VEÍCULO {{veiculo.placa}}</h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <p><strong>Carro:</strong> {{veiculo.carro}}</p>
        <p><strong>Placa:</strong> {{veiculo.placa}}</p>
        <p><strong>Chassi:</strong> {{veiculo.chassi}}</p>
        
      </div>
       <!-- Lista de serviços -->
       <div *ngIf="veiculo.servicos?.length" class="mt-4">
        <h3 class="text-1xl font-bold mb-3 text-red-500 ">SERVIÇO</h3>
        <ul class="space-y-2">
          <li *ngFor="let servico of veiculo.servicos" class="bg-gray-700 p-4 rounded-md">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <p><strong>Descrição:</strong> {{servico.descricao}}</p>
            <p><strong>Quantidade:</strong> {{servico.quantidade}}</p>
            <p><strong>Peça Serviço:</strong> {{servico.peca_Servico}}</p>
            <p><strong>Data:</strong> {{servico.dataServico}}</p>
          </div>
            <!-- Tabela de Orçamentos do Serviço -->
            <div *ngIf="servico.orcamentos?.length" class="mt-2">
              <h5 class="text-md font-semibold mb-2">Orçamentos do Serviço</h5>
              <ul class="space-y-2">
                <li *ngFor="let orcamento of servico.orcamentos" class="bg-gray-600 p-2 rounded-md">
                  <p><strong>ID:</strong> {{orcamento.id}}</p>
                  <p><strong>Valor:</strong> {{orcamento.quantidade}}</p>
                  <p><strong>Data:</strong> {{orcamento.nomeServico}}</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
        
        <!-- Lista de montagens -->
<div *ngIf="veiculo.montagens?.length" class="bg-gray-900 p-4 rounded-md shadow-md mt-4">
  <h3 class="text-1xl font-bold mb-3 text-yellow-500 ">MONTAGEM</h3>
  <ul class="space-y-2">
    <li *ngFor="let montagem of veiculo.montagens" class="bg-gray-800 p-4 rounded-md">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <p><strong>ID:</strong> {{montagem.id}}</p>
        <p><strong>Descrição:</strong> {{montagem.formaPagamento}}</p>
        <p><strong>KIT:</strong> {{montagem.kitDaLoja}}</p>
        <p><strong>Data:</strong> {{montagem.data}}</p>
        <p><strong>Marca Cilindro:</strong> {{montagem.marcaCilindro}}</p>
        <p><strong>Pagamento:</strong> {{montagem.formaPagamento}}</p>
      </div>

      <!-- Tabela de Orçamentos da Montagem -->
      <div *ngIf="montagem.orcamentos?.length" class="mt-4">
        <h4 class="text-md font-semibold mb-2">Orçamentos da Montagem</h4>
        <ul class="space-y-2">
          <li *ngFor="let orcamento of montagem.orcamentos" class="bg-gray-700 p-2 rounded-md">
            <p><strong>ID:</strong> {{orcamento.id}}</p>
            <p><strong>Valor:</strong> {{orcamento.quantidade}}</p>
            <p><strong>Data:</strong> {{orcamento.nomeServico}}</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

