<div class="p-4 bg-gray-800 text-white">
  <!-- Input e botão para buscar serviços -->
  <div class="mb-4 flex flex-wrap gap-2 items-center">
    <!-- Busca por Data -->
    <div class="flex items-center space-x-2 w-full md:w-auto">
      <input 
        type="date" 
        [(ngModel)]="servdata" 
        placeholder="Digite a data do serviço" 
        class="border border-gray-600 bg-gray-700 p-2 rounded-md text-white w-full md:w-auto"
      >
      <button 
        (click)="GetServicoByData()" 
        class="bg-blue-600 text-white p-2 h-10 rounded-md hover:bg-blue-700 whitespace-nowrap"
      >
        Buscar por Data
      </button>
    </div>
    <!-- Botão Cadastrar Novo Serviço -->
    <div class="ml-auto mt-4 md:mt-0">
      <a 
        href="/servico-post" 
        class="inline-block px-4 py-2 text-lg font-medium text-gray-200 bg-gray-800 border border-gray-600 rounded-lg shadow-lg hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl"
      >
        Cadastrar Novo Serviço
      </a>
    </div>
  </div>

  <!-- Exibe detalhes dos serviços -->
  <div *ngIf="servico.length > 0" class="space-y-4">
    <div *ngFor="let serv of servico" class="bg-gray-900 p-4 rounded-md shadow-md w-full">

         <!-- Exibe detalhes do veículo associado -->
         <div *ngIf="serv.veiculo" class="mt-4 bg-gray-800 p-4 rounded-md shadow-md">
          <h3 class="text-lg font-semibold mb-2">Veículo Associado</h3>
          <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300">
              <tbody>
                <tr>
                  <td class="border border-gray-300 bg-green-900 px-4 py-2 font-semibold">Carro:</td>
                  <td class="border border-gray-300 px-4 py-2">{{serv.veiculo.carro}}</td>
                </tr>
                <tr>
                  <td class="border border-gray-300 bg-green-900 px-4 py-2 font-semibold">Placa:</td>
                  <td class="border border-gray-300 px-4 py-2">{{serv.veiculo.placa}}</td>
                </tr>
                <tr>
                  <td class="border border-gray-300 bg-green-900 px-4 py-2 font-semibold">Chassi:</td>
                  <td class="border border-gray-300 px-4 py-2">{{serv.veiculo.chassi}}</td>
                </tr>
                <tr>
                  <td class="border border-gray-300 bg-green-900 px-4 py-2 font-semibold">Cor:</td>
                  <td class="border border-gray-300 px-4 py-2">{{serv.veiculo.cor}}</td>
                </tr>
                <tr>
                  <td class="border border-gray-300 bg-green-900 px-4 py-2 font-semibold">KM Atual:</td>
                  <td class="border border-gray-300 px-4 py-2">{{serv.veiculo.kmAtual}}</td>
                </tr>
              </tbody>
            </table>
          </div>
       
    
      

      <h2 class="text-xl font-semibold mb-2">Detalhes do Serviço</h2>
      <div class="overflow-x-auto">
        <table class="w-full border-collapse border border-gray-300">
          <tbody>
          
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Descrição:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.descricao}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Forma de Pagamento:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.formaPag}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Mecânico:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.mecanico}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Saída:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.observacao}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Total:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.totalorcamento}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Pago:</td>
              <td class="border border-gray-300 px-4 py-2">{{serv.pago ? 'Sim' : 'Não'}}</td>
            </tr>
            <tr>
              <td class="border border-gray-300 bg-red-900 px-4 py-2 font-semibold">Data:</td>
              <td  type="data" class="border border-gray-300 px-4 py-2">{{serv.dataServico | date:'dd-MM-yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

   

      <!-- Exibe detalhes dos orçamentos associados -->
      <div *ngIf="serv.orcamentos && serv.orcamentos.length > 0" class="mt-4 bg-gray-800 p-4 rounded-md shadow-md">
        <h3 class="text-lg font-semibold mb-2">Orçamentos Associados</h3>
        <div *ngFor="let orcamento of serv.orcamentos" class="overflow-x-auto">
          <table class="w-full border-collapse border border-gray-300">
            <thead>
              <tr>
                <th class="border border-gray-300 bg-gray-900 px-4 py-2 font-semibold">Produto</th>
                <th class="border border-gray-300 bg-gray-900 px-4 py-2 font-semibold">Quantidade</th>
                <th class="border border-gray-300 bg-gray-900 px-4 py-2 font-semibold">Valor Parcial</th>
                <th class="border border-gray-300 bg-gray-900 px-4 py-2 font-semibold">Valor Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orc of serv.orcamentos">
                <td class="border border-gray-300 px-4 py-2">{{orc.produto}}</td>
                <td class="border border-gray-300 px-4 py-2">{{orc.quantidade}}</td>
                <td class="border border-gray-300 px-4 py-2">{{orc.valorParcial}}</td>
                <td class="border border-gray-300 px-4 py-2">{{orc.valorTotal}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
